# .github/.pre-commit-config.yaml

# Exclude all files within the 'thesis/' directory from all hooks
exclude: ^thesis/

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-merge-conflict

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        types_or: [python, jupyter]
    -   id: ruff-format
        types_or: [python, jupyter]

-   repo: https://github.com/instrumentl/pre-commit-just
    rev: v0.1
    hooks:
    -   id: format-justfile

# By default, run all hooks on both pre-commit and pre-push stages
default_stages: [pre-commit, pre-push]
