x-service-vars:
  &service-vars
  VP_PORT: 8008
  PP_PORT: 8888
  API_PORT: 8888

services:
  api:
    build:
      context: .
      dockerfile: test.Dockerfile
    ports:
      - "8000:${API_PORT:-8888}"
    networks:
      - net
    environment:
      - MODELS=visualphish,phishpedia
      - PORT=${API_PORT:-8888}
      - VP_PORT=${VP_PORT:-8888}
      - PP_PORT=${PP_PORT:-8888}

  visualphish:
    build:
      context: .
      dockerfile: test1.Dockerfile
    ports:
      - "8001:${VP_PORT:-8888}"
    networks:
      - net
    environment:
      - PORT=${VP_PORT:-8888}

  phishpedia:
    build:
      context: .
      dockerfile: test2.Dockerfile
    networks:
      - net
    ports:
      - "8002:${PP_PORT:-8888}"
    environment:
      - PORT=${PP_PORT:-8888}

networks:
  net:
    driver: bridge